body{
   font-family: verdana;
   text-align: center;
   color: purple;
   background: url("fondo.jpeg");
   object-fit: cover;
   /*background-img:url("fondo.jpeg");*/
   
}

img{
   width: 100%;
   /*object-fit: cover;*/
}
